:root {
    --primary-color: darkblue;
    --secondary-color: steelblue;
    --text-dark: #333;
    --text-light: white;
    --border-color: #000;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    display: block;
}

h1 {
    color: var(--secondary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 800px;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0.2);
    padding: 1em;
    background-color: var(--text-light);
    color: var(--text-dark);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid var(--border-color);
    text-align: center;
}